html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #6D6E71;
  height: 100%;
}
body {
  padding-top: 50px;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-header {
  background-color: #353535;
  color: #fff;
}
.navbar-nav {
  width: 100%;
}
.navbar-inverse {
  background: #353535;
}
.location-header {
  margin: 10px;
}
.location-header img {
  padding-top: 5px;
}
.location-header p {
  margin-bottom: 0;
}
.container {
  min-height: 70%;
  min-height: -webkit-calc(-37%);
  min-height: -moz-calc(-37%);
  min-height: calc(-37%);
  min-height: calc(100% - 80px);
}
.map-directions {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  font-family: "Open Sans";
  margin-left: 15px;
}
.icon-bar {
  color: #F1F2F2;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  color: #414042;
}
.main-content {
  margin-top: 200px;
  max-width: 700px;
}
.main-content span {
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.5;
}
.sub-points {
  padding: 20px 40px 20px 40px;
}
.sub-points p {
  color: #5B5B5B;
}
.subfooter {
  padding: 40px;
}
.subfooter h5 {
  font-weight: 600;
  color: #414042;
}
.subfooter p {
  font-weight: normal;
  color: #5B5B5B;
}
.bg-background {
  background: rgba(133, 191, 249, 0.6);
}
.pdf-container {
  text-align: center;
}
.pdf-container a {
  display: inline-block;
  width: 50%;
  min-width: 100px;
  float: left;
  padding: 10px 0;
}
.pdf-container img {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.pdf-container p {
  margin: 0;
}
.overlay-bg {
  background: url('../img/avalon-home-bg.png') no-repeat center;
  background-size: cover;
}
.jumbotron {
  background: none;
}
.footer {
  background: #353535;
  height: 80px;
}
.footer-logo {
  float: left;
  padding: 24px;
}
.footer-links {
  float: right;
  color: #fff;
}
.footer-links ul {
  padding: 0;
  margin: 0;
}
.footer-links li {
  float: left;
  list-style-type: none;
  padding: 25px;
}
.footer-links li a {
  color: #fff;
  text-transform: uppercase;
}
.footer-links li a:hover {
  text-decoration: none;
}
.logo-title-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo-title-container .content-logo {
  float: left;
  padding: 5px 15px 0 0;
}
.logo-title-container .content-title {
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
}
#smartlogix {
  bottom: 0;
  vertical-align: bottom;
}
.product-line {
  position: relative;
}
.product-line .product-title {
  font-weight: 600;
}
.product-line a {
  float: right;
  padding: 0 45px;
}
.top-offset {
  padding-top: 20px;
  padding-bottom: 20px;
}
.top-offset-border {
  padding: 30px 0;
  /*border-bottom: solid 1px grey;*/
}
.popout-box {
  background: #eee;
  padding: 20px;
  margin: 20px 0;
}
.close-para {
  margin-bottom: 0;
}
.truck {
  padding: 8px;
  margin: center;
  max-width: 100%;
}
.under-title {
  margin: -20px 0 20px 0;
}
.popout-box-service {
  /*background: #ddd;*/
  padding: 10px;
  margin: center;
}
.scaling-width {
  width: 100%;
}
.link-styling:active,
.link-styling:focus,
.link-styling:visited,
.link-styling:hover {
  color: #6D6E71;
  text-decoration: none;
}
#stafco {
  max-width: 143px;
}
.mobile-spacing {
  display: none;
}
@media (max-width: 991px) {
  nav .location-header {
    display: none;
  }
  /*HERE*/
  .popout-box-service {
    /*background: #ddd;
  width: 500px;
  padding: 10px;*/
    margin: auto;
    margin-top: 10px;
  }
}
@media (max-width: 938px) {
  .footer-logo {
    display: block;
    text-align: center;
    float: none;
    padding-bottom: 10px;
  }
  .footer {
    height: auto;
  }
  .footer-links {
    float: none;
  }
  .footer-links ul {
    text-align: center;
    margin: 0 auto 10px auto;
    width: 745px;
  }
  /*HERE*/
  .popout-box-service {
    /*background: #ddd;
          padding: 1px;*/
    margin: auto;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer ul {
    width: auto;
  }
  .footer li {
    float: none;
    padding: 10px;
  }
  .sub-points {
    padding-bottom: 40px;
    max-width: 600px;
    margin: 0 auto;
  }
  .main-content {
    margin: 0;
    max-width: auto;
  }
  .subfooter:first-child {
    padding-bottom: 0;
  }
  .subfooter:last-child {
    padding-top: 0;
  }
  .content-logo {
    padding-bottom: 20px;
  }
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .jumbotron span {
    background: none;
    font-weight: 300;
    font-size: 20px;
  }
  /*HERE*/
  .popout-box-service {
    /*background: #ddd;
      padding: 1px;*/
    margin: auto;
    margin-top: 10px;
  }
  .thin-padding {
    padding: 0 20px;
  }
  .blank-spacing {
    display: none;
  }
  .mobile-spacing {
    display: inline;
  }
}
.top-offset-border-grey {
  padding: 30px 0;
  background: WhiteSmoke;
}
.tab-container {
  width: 800px;
  margin: 0 auto;
}
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: #353535 ;
  color: #fff;
  display: block;
  padding: 15px 25px;
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  border-color: white;
  font-size: 1.2em;
}
ul.tabs li.current {
  background: grey;
  color: gold;
}
.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
  margin-bottom: 30px;
}
.tab-content.current {
  display: inherit;
}
